html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #607D8B;
}
  
img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {margin: 0;}
  
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
p {margin: 0;}

a {text-decoration: none;}
  
audio, canvas, iframe, img, svg, video {vertical-align: middle;}
  
textarea {resize: none;}

input, select, button {outline: none;}
  
* {box-sizing: border-box;}

*:before, *:after {box-sizing: border-box;}


/* CSS Features */
  
.wrapper {
    display: flex;
    flex-flow: column wrap;
    max-width: 960px;
    margin: 5vh auto;
    padding: 0 5%;
}

/* flip card */

.card {
    position: relative;
    max-width: 200px;
    min-height: 200px;
    perspective: 1000px;
    margin-bottom: 2em;
}

.front, 
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 2s;
    backface-visibility: hidden;
}

.front {background-color: rgb(119, 173, 66);}

.back {
    background-color: darkslateblue;
    transform: rotateY(180deg);
}

.card:hover .front, 
.card:active .front {transform: rotateY(180deg);}

.card:hover .back, 
.card:active .back {transform: rotateY(360deg);}

/* another transfrom card */

.section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #00b0ff;
    color: #fff;
    padding: 15px;
    height: 50vh;
    position: relative;
    perspective: 1000px;
}

.section:hover .desktop,
.section:active .desktop {transform: translateY(0) rotateY(20deg);}

.presentation {margin-right: 10%;}

.desktop {
    background: url('./../img/desktop.jpg') center no-repeat;
    background-size: cover;
    width: 30vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 3s;
    transform: translateX(-500%);
}

/* burger-menu */

.second-section {
    height: 20em;
    background-color: #afb42b;
    margin: 50px 0;
}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin: 15px;
    position: relative;
}

.menu-btn__line,
.menu-btn__line::before,
.menu-btn__line::after {
    position: absolute;
    margin-top: -1px;
    margin-left: -10px;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #000;
}

.menu-btn__line::before,
.menu-btn__line::after {
    content: '';
    display: block;
    transition: 1s;
}

.menu-btn__line::before {transform: translateY(-5px);}
.menu-btn__line::after {transform: translateY(5px);}

.menu-btn--active .menu-btn__line {height: 0;}

.menu-btn--active .menu-btn__line::before {transform: rotate(45deg);}
.menu-btn--active .menu-btn__line::after {transform: rotate(-45deg);}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.menu__nav {
    transition: 1s;
    transform-origin: right center;
    transform: scaleX(0) translateX(0%);
    opacity: 0;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 20px;
    margin-right: -45px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu__nav--active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
}

.menu__list {
    display: flex;
    margin-left: 20px;
}

.menu__link {
    display: inline-block;
    margin-right: 20px;
    color: #000;
}

/* sliding menu */

.wrap {
    display: flex;
    background-color: #3F51B5;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.sliding-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 40vh;
    display: flex;
    background-color:#E64A19;
    transition: 1s;
    transform: translateX(-100%);
}

.sliding-menu__nav {width: 100%;}

.sliding-menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.sliding-menu__link {
    color: #fff;
    font-weight: bold;
}

.sliding-menu__btn {
    position: absolute;
    background-color: transparent;
    width: 20px;
    height: 20px;
    right: -45px;
    top: -10px;
}

.sliding-menu-btn__line,
.sliding-menu-btn__line::before,
.sliding-menu-btn__line::after {
    background-color: #fff;
}

.sliding-menu--active {transform: translateX(0%);}

.sliding-menu--active .sliding-menu-btn__line {height: 0;}

.sliding-menu--active .sliding-menu-btn__line::before {transform: rotate(45deg);}
.sliding-menu--active .sliding-menu-btn__line::after {transform: rotate(-45deg);}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.content {width: 100%;}